<div class="jumbtron">

  <h1 class="text-center">Система распределения отпусков</h1>
  <hr>
  <div class="row">

    <div class="col-md-4">
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-tie" [class.green-icon]="word.valid" [class.red-icon]="word.invalid && word.touched"></i>
        </div>
      </div>
      <input name="word"  #word="ngModel" [(ngModel)]="service.formData.word" class="form-control"  placeholder="Word" required maxlength="20" minlength="2">
    </div>
  </div>

  <div class="form-group">
    <button  class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Поиск</button>
  </div>
</form>
    </div>
  </div>
</div>
